@font-face {
  font-family: "Seasons";
  src:url("./fonts//7b0b24f36b1a6d0b-s.p.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons1";
  src:url("./fonts//886f446b96dc7734-s.p.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons2";
  src:url("./fonts//a1187f081f048286-s.p.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons3";
  src:url("./fonts//e693e841d50dcf2f-s.p.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons4";
  src:url("./fonts//KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBHMdazQ.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* --------- */
@font-face {
  font-family: "Seasons5";
  src:url("./fonts/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons6";
  src:url("./fonts/9VWMTeb5jtXkNoTv949Npfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons7";
  src:url("./fonts/aDjpMND83pDErGXlVEr-Sfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons8";
  src:url("./fonts//lFxvRPuGFG5ktd7P0WRwKhUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Seasons9";
  src:url("./fonts//RbebACOccNN-5ixkDIVLjRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


